<nav class="navbar fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container" style="width: 100%; padding-left: 0px; padding-right: 0px;">
        <div class="navbar-translate">
            <a class="card-header card-header-image" (click)="inicio()" style="border-bottom: none;height: 73px;padding-top: 0px;">
                <img src="./assets/imageLogo/IsologotipoCromaticoVectorial.png" height="80px" alt="QuickDomicilos">
            </a>
            <button class="navbar-toggler" style="color: black;" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse ">
            <ul class="navbar-nav ml-auto  " style=" height: 100%;">
                <li class="dropdown nav-item" *ngIf="getIslogin()">
                    <a (click)="refresh()" style="padding-bottom: 0%; margin-bottom: 0%; padding-top: inherit; padding-right: 0px;" class="cursormanito nav-link" data-toggle="dropdown">
                        <!--i class="material-icons" style="font-size:30px;color:green">account_circle</i> Cuenta-->
                        <div style="margin-top: 34px;" class="fileinput fileinput-new text-center d-block d-sm-block d-md-none" data-provides="fileinput">
                            <div class=" fileinput-new thumbnail img-circle img-raised">
                                <img src="{{imagePerfil}}" alt="..." srcset="./assets/img/placeholder.jpg" *ngIf="!isImagePerfil;else elseImage">
                                <ng-template #elseImage>
                                    <img src="{{imagePerfil}}">
                                </ng-template>
                            </div>
                            <div>
                                <h5><small>Hola</small><br><strong>{{nombreUsuario}}</strong></h5>
                            </div>
                        </div>

                        <div style="margin: 9px;  " class="fileinput fileinput-new text-center d-none d-sm-none d-md-block " data-provides="fileinput " *ngIf="!isImagePerfil;else elseImageGrant">
                            <div class="row ">
                                <img class=" fileinput-new thumbnail img-circle img-raised " src="{{imagePerfil}} " alt=" " style="height: 30px; width: 30px; margin: auto; margin-right: 1px; padding-right: 1px; " srcset="./assets/img/placeholder.jpg">
                                <small style="width: 60%; ">
                                    <h6 class="text-left ">{{nombreUsuario}}</h6>
                                </small>
                            </div>
                        </div>
                        <ng-template #elseImageGrant>
                            <div style="margin: 9px; " class="fileinput fileinput-new text-center d-none d-sm-none d-md-block " data-provides="fileinput ">
                                <div class="row ">
                                    <img class=" fileinput-new thumbnail img-circle img-raised " src="{{imagePerfil}} " alt=" " style="height: 30px; width: 30px; margin: auto; margin-right: 1px; padding-right: 1px; ">

                                    <small style="width: 60%; ">
                                        <h6 class="text-left ">{{nombreUsuario}}</h6>
                                    </small>
                                </div>
                            </div>
                        </ng-template>
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a class="dropdown-item cursormanito">
                            <i class="material-icons">people</i> {{nombreUsuario}}
                        </a>
                        <a class="dropdown-item cursormanito">
                            <i class="material-icons">call</i> {{telefono}}
                        </a>
                        <li class="button-container nav-item iframe-extern">
                            <a data-toggle="modal" data-target="#smallTelefonoModal" style="color: white;" class="btn  btn-rose btn-round">
                        Editar informacion
                    </a>
                            <br>
                        </li>
                        <li class="button-container nav-item iframe-extern" (click)="openChangePass(changePasswordModal)">
                            <a data-toggle="modal" style="color: white;" class="btn  btn-rose btn-round">
                        Cambiar contraseña
                    </a>
                        </li>
                    </div>
                </li>
                <li class="dropdown nav-item" *ngIf="getIslogin()">

                    <a style="margin-left: 0px; padding-right: 0px; " class="cursormanito dropdown-toggle nav-link" data-toggle="dropdown" (click)="refresh()">
                        <i class="material-icons">location_on</i>Mi Direccion
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a style="margin-left: 10px; margin-right: 2px;" class="cursormanito dropdown-item">
                            <i style="margin-right: 2px;" class="material-icons">location_on</i>Direccion:
                            <marquee width="100%" scrolldelay="100" scrollamount="5" direction="left" loop="infinite">
                                {{lugar.direccionLugar}}</marquee>
                        </a>
                        <a style="margin-left: 10px; margin-right: 2px;" class="cursormanito dropdown-item">
                            <i style="margin-right: 2px;" class="material-icons">location_on</i>Barrio:
                            <marquee width="100%" scrolldelay="100" scrollamount="5" direction="left" loop="infinite">
                                {{lugar.barrio.nombreBarrio}}</marquee>
                        </a>
                        <li class="button-container nav-item iframe-extern">
                            <a (click)="cambiar()" style="color: white;" class="btn btn-rose btn-round ">
                Cambiar
            </a>
                        </li>
                    </div>
                </li>
                <li class="dropdown nav-item" *ngIf="getIslogin()">

                    <a style="margin-left: 0px; padding-right: 0px;" class="dropdown-toggle nav-link cursormanito" data-toggle="dropdown" (click)="cargarPedidosCliente()">
                        <i class="material-icons">shopping_basket</i>Mis Pedidos
                    </a>
                    <div class="dropdown-menu dropdown-with-icons container " style=" overflow-y:scroll; width:auto; height: 250px;">
                        <div class="container" *ngFor="let pedido of pedidos">

                            <a style="margin-left: 10px; margin-right: 2px;" class="dropdown-item cursormanito">
                                <i style="margin-right: 2px;" class="material-icons">store</i>Estado: {{pedido.estadoPedido}}
                            </a>
                            <a style="margin-left: 10px; margin-right: 2px;" class="cursormanito dropdown-item">
                                <i style="margin-right: 2px;" class="material-icons">attach_money</i>Valor Total:{{pedido.valorTotalPedido+pedido.valorGanancia}}
                            </a>
                            <li class="button-container nav-item iframe-extern" style="text-align: center; margin: auto;">
                                <a style="color: white; " class="btn btn-rose btn-round" (click)="detallePedido(pedido,detallePedidoModal)">
                        Detalle
                    </a>
                            </li>
                        </div>
                    </div>
                </li>

                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link cursormanito" style="margin-left: 0px; padding-right: 0px;" data-toggle="dropdown">
                        <i class="material-icons">call</i> Atención al usuario
                    </a>
                    <div class="dropdown-menu dropdown-with-icons text-center">
                        <img src="../../../assets/imageLogo/IsologotipoCromaticoVectorial200px.png" alt="">
                        <div class="tab-pane  m-2">
                            <p>
                                PUEDES SOLICITAR SERVICIOS DE DOMICILIOS, MENSAJERÍA Y ENCARGOS.
                                <br> Solicita lo que necesitas a la puerta de casa, contamos con diferentes servicios que te evitaran salir de tu casa.
                            </p>
                        </div>
                    </div>
                </li>

                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link cursormanito" data-toggle="dropdown" style="padding-right: 0px; margin-left: 0px;">
                        <i class="material-icons">apps</i>Sobre la App
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a class="dropdown-item cursormanito" (click)="privacyPolicy()">
                            <i class="material-icons">line_style</i> Politica de privacidad
                        </a>
                        <a class="dropdown-item cursormanito" href="https://play.google.com/store/apps/details?id=com.Quickdomicilios.user&hl=es-419">
                            <i class="material-icons ">layers</i>Nuestra app
                        </a>
                        <a class="dropdown-item cursormanito">
                            <i class="material-icons ">content_paste</i> Terminos y condiciones
                        </a>
                    </div>
                </li>
                <!--<li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">view_day</i> Secciones
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="./sections.html#headers" class="dropdown-item">
                            <i class="material-icons">dns</i> Emcabezados
                        </a>
                        <a href="./sections.html#features" class="dropdown-item">
                            <i class="material-icons">build</i> Caracteristicas
                        </a>
                        <a href="./sections.html#blogs" class="dropdown-item">
                            <i class="material-icons">list</i> Blogs
                        </a>
                        <a href="./sections.html#teams" class="dropdown-item">
                            <i class="material-icons">people</i> Equipos
                        </a>
                        <a href="./sections.html#projects" class="dropdown-item">
                            <i class="material-icons">assignment</i> Proyectos
                        </a>
                        <a href="./sections.html#pricing" class="dropdown-item">
                            <i class="material-icons">monetization_on</i>Precios
                        </a>
                        <a href="./sections.html#testimonials" class="dropdown-item">
                            <i class="material-icons">chat</i> Testimonios
                        </a>
                        <a href="./sections.html#contactus" class="dropdown-item">
                            <i class="material-icons">call</i> Contactos
                        </a>
                    </div>
                </li>-->
                <!--  <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">view_carousel</i> Examples
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="./examples/about-us.html" class="dropdown-item">
                            <i class="material-icons">account_balance</i> About Us
                        </a>
                        <a href="./examples/blog-post.html" class="dropdown-item">
                            <i class="material-icons">art_track</i> Blog Post
                        </a>
                        <a href="./examples/blog-posts.html" class="dropdown-item">
                            <i class="material-icons">view_quilt</i> Blog Posts
                        </a>
                        <a href="./examples/contact-us.html" class="dropdown-item">
                            <i class="material-icons">location_on</i> Contact Us
                        </a>
                        <a href="./examples/landing-page.html" class="dropdown-item">
                            <i class="material-icons">view_day</i> Landing Page
                        </a>
                        <a href="./examples/login-page.html" class="dropdown-item">
                            <i class="material-icons">fingerprint</i> Login Page
                        </a>
                        <a href="./examples/pricing.html" class="dropdown-item">
                            <i class="material-icons">attach_money</i> Pricing Page
                        </a>
                        <a href="./examples/shopping-cart.html" class="dropdown-item">
                            <i class="material-icons">shopping_basket</i> Shopping Cart
                        </a>
                        <a href="./examples/ecommerce.html" class="dropdown-item">
                            <i class="material-icons">store</i> Ecommerce Page
                        </a>
                        <a href="./examples/product-page.html" class="dropdown-item">
                            <i class="material-icons">shopping_cart</i> Product Page
                        </a>
                        <a href="./examples/profile-page.html" class="dropdown-item">
                            <i class="material-icons">account_circle</i> Profile Page
                        </a>
                        <a href="./examples/signup-page.html" class="dropdown-item">
                            <i class="material-icons">person_add</i> Signup Page
                        </a>
                    </div>
                </li>-->
                <div *ngIf="!getIslogin(); else elseBlock">
                    <li class="button-container nav-item iframe-extern" style="margin: 8px;">

                        <a (click)="login()" style="color: white;" class="btn  btn-rose   btn-round btn-block">
                            <i class="material-icons">login</i> Iniciar Sesion
                        </a>
                    </li>

                </div>
                <div *ngIf="!getIslogin()">
                    <li class="button-container nav-item iframe-extern">

                        <a (click)="onRegister()" style="background-color: #df0000ef;  color: white;" class="btn  btn-rose   btn-round btn-block">
                            <i class="material-icons">login</i> Registrarse
                        </a>
                    </li>

                </div>
                <ng-template #elseBlock>
                    <li class="button-container nav-item iframe-extern" style="margin: 4px;">
                        <a (click)="logOut()" style=" color: white;" class="btn  btn-rose   btn-round btn-block">
                Cerrar Sesion
            </a>
                    </li>
                </ng-template>



            </ul>
        </div>
    </div>
</nav>

<!-- small modal -->
<div class="modal fade" id="smallTelefonoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-small" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Datos de usuario</h3>
                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()" aria-hidden="true"><i
                        class="material-icons">clear</i></button>
            </div>
            <div class="modal-body">
                <label class="modal-title ">Editar nombre de usuario</label>
                <input class="form-control" type="text" [(ngModel)]="nombreUsuario" name="nombreUsuario" placeholder="Nombre usuario" />
                <label class="modal-title">Ingresar numero de contacto</label>
                <input class="form-control" type="number" [(ngModel)]="telefono" placeholder="telefono" />

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" data-dismiss="modal" (click)="guardarUsuario()" style="margin-top: 2vh; color: white;" class="btn  btn-rose btn-round btn-danger">Guardar</button>

            </div>

        </div>
    </div>
</div>
<!--    end small modal -->

<ng-template #guardarTelefonoModal>

    <div class="modal-header">
        <h3 class="modal-title">Datos de usuario</h3>
        <button type="button" class="close" (click)="closeModal()" aria-hidden="true"><i
                class="material-icons">clear</i></button>
    </div>
    <div class="modal-body">
        <label class="modal-title ">Editar nombre de usuario</label>
        <input class="form-control" type="text" [(ngModel)]="nombreUsuario" name="nombreUsuario" placeholder="Nombre usuario" />
        <label class="modal-title">Ingresar numero de contacto</label>
        <input class="form-control" type="number" [(ngModel)]="telefono" placeholder="telefono" />

    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" (click)="guardarUsuario()" style="margin-top: 2vh; color: white;" class="btn  btn-rose btn-round btn-danger">Guardar</button>

    </div>



</ng-template>

<ng-template #tramitandoModal>
    <div class="modal-header">
        <br>
    </div>
    <div class="modal-body text-center">
        <div class=" center-loader">
            <strong>{{mensajeTramitando}}
                <span class="loader__dot">.</span>
                <span class="loader__dot">.</span>
                <span class="loader__dot">.</span></strong>
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <br>
    </div>
</ng-template>
<ng-template #detallePedidoModal>

    <div class="modal-header">
        <h3 class="modal-title">Pedido</h3>
        <button type="button" class="close" (click)="closeModal()" aria-hidden="true"><i
                class="material-icons">clear</i></button>
    </div>
    <div class="modal-body">
        <label class="modal-title ">Empresa pedido: {{pedido.empresa.razonSocial}}</label><br>
        <label class="modal-title">Estado Pedido: {{pedido.estadoPedido}}</label><br>
        <label class="modal-title">Valor Productos: $ {{pedido.valorTotalPedido}}</label><br>
        <label class="modal-title">Valor Domicilio: $ {{pedido.valorGanancia}}</label><br>
        <label class="modal-title">Valor Total: $ {{pedido.valorGanancia+pedido.valorTotalPedido}}</label><br>
        <br>
        <label class="modal-title">Onservaciones (las observaciones solo son aplicables 10 minutos despues de realizado
            el pedido antes no se garantiza que se ejecuten)</label><br>
        <div class="card-body">
            <textarea type="textarea" class="form-control" disabled rows="5" cols="10" [(ngModel)]="pedido.observaciones" name="cantidad" placeholder="Agrega observacion del pedido"></textarea>
        </div>
        <a class="btn btn-chartjs btn-round" (click)="modificarObservacion(modaObesrvacion)">
            Cambiar
        </a>

        <h5 class="modal-title">Detalle de pedido:</h5>
    </div>


    <div class="modal-footer justify-content-center">

        <table class="table table-reponsive">
            <thead>
                <tr>

                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Valor unitario</th>
                    <th class="text-right">Total</th>

                </tr>
            </thead>
            <tbody *ngFor="let detalleServicio of detalleServicios">
                <tr>

                    <td>{{detalleServicio.producto.nombreProducto}}</td>
                    <td>{{detalleServicio.cantidad}}</td>
                    <td>$ {{detalleServicio.valorUnitario}}</td>
                    <td class="text-right">$ {{detalleServicio.valorTotal}}</td>

                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Domicilio</td>
                    <td></td>
                    <td>$ {{pedido.valorGanancia}}</td>
                    <td class="text-right">$ {{pedido.valorGanancia}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><strong>Total</strong></td>
                    <td class="text-right"><strong>$ {{pedido.valorGanancia+pedido.valorTotalPedido}}</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>


</ng-template>
<ng-template #modaObesrvacion>
    <div class="card-body">
        <textarea type="textarea" class="form-control" rows="10" cols="50" [(ngModel)]="pedido.observaciones" name="cantidad" placeholder="Agrega observacion del pedido"></textarea>
    </div>
    <button (click)="confirmarObservacion()" class="btn btn-danger">Guardar</button>
</ng-template>
<ng-template #changePasswordModal>
    <div class="card-body">
        <h3>Cambiar password </h3>
        <div class="card mb-2 overflow-hidden">
            <div class="card-body p-0">
                <label class="sr-only">ingresar nueva password</label>
                <input type="password" class="form-control rounded-0 border-0 text-center" [(ngModel)]="passwordNueva" name="passwordNueva" placeholder="password Nueva" required="">
                <label class="sr-only">confirmar nueva password</label>
                <input type="password" class="form-control rounded-0 border-0 text-center" [(ngModel)]="confirmacionPassword" name="confirmacionPassword" placeholder="confirmar password" required="">
            </div>
        </div>
        <div class="">
            <a class=" btn btn-primary btn-block" (click)="confirmarPassw()">Confirmar <i class="material-icons md-18">arrow_forward</i></a>
        </div>
    </div>
</ng-template>