<nav class="navbar fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="card-header card-header-image" (click)="inicio()"
                style="border-bottom: none;height: 73px;padding-top: 0px;">
                <img src="../assets/imageLogo/IsologotipoCromaticoVectorial.png" height="80px" alt="QuickDomicilos">
            </a>
            <button class="navbar-toggler" style="color: black;" type="button" data-toggle="collapse"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse ">
            <ul class="navbar-nav ml-auto  " style="overflow-y: auto; height: 100%;" >
                <li class="dropdown nav-item" *ngIf="getIslogin()"> 
                    <a (click)="refresh()" style="padding-bottom: 0%; margin-bottom: 0%;" class="cursormanito nav-link" data-toggle="dropdown">
                        <!--i class="material-icons" style="font-size:30px;color:green">account_circle</i> Cuenta-->
                        <div style="margin: inherit;" class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail img-circle img-raised">
                              <img src="./assets/img/placeholder.jpg" alt="...">
                            </div>
                            <div>
                              <h5>{{nombreUsuario}}</h5>
                            </div>
                          </div>
                    
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">

                        <a class="dropdown-item cursormanito">
                            <i class="material-icons">people</i> {{nombreUsuario}}
                        </a>

                        <a class="dropdown-item cursormanito">
                            <i class="material-icons">call</i> {{telefono}}
                        </a>
                <li class="button-container nav-item iframe-extern">
                    <a data-toggle="modal" data-target="#smallTelefonoModal" style="color: white;"
                        class="btn  btn-rose btn-round btn-instagram">
                        Editar informacion
                    </a>
                </li>
        </div>

        </li>
        <li class="dropdown nav-item" *ngIf="getIslogin()">

            <a style="margin-left: 0px;" class="cursormanito dropdown-toggle nav-link" data-toggle="dropdown" (click)="refresh()">
                <i class="material-icons">location_on</i>Mi Direccion
            </a>
            <div class="dropdown-menu dropdown-with-icons">
                <a style="margin-left: 10px; margin-right: 2px;" class="cursormanito dropdown-item">
                    <i style="margin-right: 2px;" class="material-icons">location_on</i>Direccion:
                    <marquee width="100%" scrolldelay="100" scrollamount="5" direction="left" loop="infinite">
                        {{lugar.direccionLugar}}</marquee>
                </a>

                <a style="margin-left: 10px; margin-right: 2px;" class="cursormanito dropdown-item">

                    <i style="margin-right: 2px;" class="material-icons">location_on</i>Barrio:
                    <marquee width="100%" scrolldelay="100" scrollamount="5" direction="left" loop="infinite">
                        {{lugar.barrio.nombreBarrio}}</marquee>

                </a>
        <li class="button-container nav-item iframe-extern">
            <a (click)="cambiar()" style="color: white;" class="btn  btn-rose btn-round btn-instagram">
                Cambiar
            </a>
        </li>
    </div>
        </li>
    <li class="dropdown nav-item" *ngIf="getIslogin()">

        <a style="margin-left: 0px;" class="dropdown-toggle nav-link cursormanito" data-toggle="dropdown"
            (click)="cargarPedidosCliente()">
            <i class="material-icons">shopping_basket</i>Mis Pedidos
        </a>
        <div class="dropdown-menu dropdown-with-icons" style="height: 220px;">
            <div *ngFor="let pedido of pedidos">

                <a style="margin-left: 10px; margin-right: 2px;" class="dropdown-item cursormanito">
                    <i style="margin-right: 2px;" class="material-icons">store</i>Estado: {{pedido.estadoPedido}}
                    
                </a>

                <a style="margin-left: 10px; margin-right: 2px;" class="cursormanito dropdown-item">
                    <i style="margin-right: 2px;" class="material-icons">attach_money</i>Valor Total:{{pedido.valorTotalPedido+pedido.valorGanancia}}

                </a>
            <li class="button-container nav-item iframe-extern" style="text-align: center; margin: auto;">
        <a style="color: white; " class="btn btn-rose btn-round btn-instagram"
            (click)="detallePedido(pedido,detallePedidoModal)">
            Detalle
        </a>
            </li>
        </div>

    </div>
    </li>
    <li class="dropdown nav-item">
        <a href="#" class="dropdown-toggle nav-link cursormanito" data-toggle="dropdown">
            <i class="material-icons">apps</i> Nuestro servicios y ayuda
        </a>
        <div class="dropdown-menu dropdown-with-icons">
            <a class="dropdown-item cursormanito" (click)="privacyPolicy()">
                <i class="material-icons">line_style</i> Politica de privacidad
            </a>
            <a class="dropdown-item cursormanito">
                <i class="material-icons ">layers</i>Nuestra app
            </a>
            <a class="dropdown-item cursormanito">
                <i class="material-icons ">content_paste</i> Terminos y condiciones
            </a>
        </div>
    </li>
    <li class="dropdown nav-item" *ngIf="getIslogin()">

        <a style="margin-left: 0px;" class="cursormanito dropdown-toggle nav-link" data-toggle="dropdown" (click)="refresh()">
            <i class="material-icons">call</i>Ayuda en linea
        </a>
        <div class="dropdown-menu dropdown-with-icons">
            <a style="margin-left: 10px; margin-right: 2px;" class="cursormanito dropdown-item">
                <i style="margin-right: 2px;" class="material-icons">call</i> algo
                
            </a>

            <a style="margin-left: 10px; margin-right: 2px;" class="cursormanito dropdown-item">

                <i style="margin-right: 2px;" class="material-icons">call</i>algo
                
            </a>
    <li class="button-container nav-item iframe-extern">
        <a  style="color: white;" class="btn  btn-rose btn-round btn-instagram">
            boton
        </a>
    </li>
</div>
    </li>
    
    <!--<li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">view_day</i> Secciones
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="../sections.html#headers" class="dropdown-item">
                            <i class="material-icons">dns</i> Emcabezados
                        </a>
                        <a href="../sections.html#features" class="dropdown-item">
                            <i class="material-icons">build</i> Caracteristicas
                        </a>
                        <a href="../sections.html#blogs" class="dropdown-item">
                            <i class="material-icons">list</i> Blogs
                        </a>
                        <a href="../sections.html#teams" class="dropdown-item">
                            <i class="material-icons">people</i> Equipos
                        </a>
                        <a href="../sections.html#projects" class="dropdown-item">
                            <i class="material-icons">assignment</i> Proyectos
                        </a>
                        <a href="../sections.html#pricing" class="dropdown-item">
                            <i class="material-icons">monetization_on</i>Precios
                        </a>
                        <a href="../sections.html#testimonials" class="dropdown-item">
                            <i class="material-icons">chat</i> Testimonios
                        </a>
                        <a href="../sections.html#contactus" class="dropdown-item">
                            <i class="material-icons">call</i> Contactos
                        </a>
                    </div>
                </li>-->
    <!--  <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">view_carousel</i> Examples
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="../examples/about-us.html" class="dropdown-item">
                            <i class="material-icons">account_balance</i> About Us
                        </a>
                        <a href="../examples/blog-post.html" class="dropdown-item">
                            <i class="material-icons">art_track</i> Blog Post
                        </a>
                        <a href="../examples/blog-posts.html" class="dropdown-item">
                            <i class="material-icons">view_quilt</i> Blog Posts
                        </a>
                        <a href="../examples/contact-us.html" class="dropdown-item">
                            <i class="material-icons">location_on</i> Contact Us
                        </a>
                        <a href="../examples/landing-page.html" class="dropdown-item">
                            <i class="material-icons">view_day</i> Landing Page
                        </a>
                        <a href="../examples/login-page.html" class="dropdown-item">
                            <i class="material-icons">fingerprint</i> Login Page
                        </a>
                        <a href="../examples/pricing.html" class="dropdown-item">
                            <i class="material-icons">attach_money</i> Pricing Page
                        </a>
                        <a href="../examples/shopping-cart.html" class="dropdown-item">
                            <i class="material-icons">shopping_basket</i> Shopping Cart
                        </a>
                        <a href="../examples/ecommerce.html" class="dropdown-item">
                            <i class="material-icons">store</i> Ecommerce Page
                        </a>
                        <a href="../examples/product-page.html" class="dropdown-item">
                            <i class="material-icons">shopping_cart</i> Product Page
                        </a>
                        <a href="../examples/profile-page.html" class="dropdown-item">
                            <i class="material-icons">account_circle</i> Profile Page
                        </a>
                        <a href="../examples/signup-page.html" class="dropdown-item">
                            <i class="material-icons">person_add</i> Signup Page
                        </a>
                    </div>
                </li>-->
    <div *ngIf="!getIslogin(); else elseBlock">
        <li class="button-container nav-item iframe-extern">

            <a (click)="login()" style="margin-top: 2vh;  color: white;" class="btn  btn-rose   btn-round btn-block">
                <i class="material-icons">login</i> Iniciar Sesion
            </a>
        </li>

    </div>
    <div *ngIf="!getIslogin()">
        <li class="button-container nav-item iframe-extern">

            <a (click)="onRegister()" style="background-color: #df0000ef; margin-top: 2vh; color: white;"
                class="btn  btn-rose   btn-round btn-block">
                <i class="material-icons">login</i> Registrarse
            </a>
        </li>

    </div>
    <ng-template #elseBlock>
        <li class="button-container nav-item iframe-extern">
            <a (click)="logOut()" style="margin-top: 2vh; color: white;" class="btn  btn-rose btn-round btn-danger">
                Cerrar Sesion
            </a>
        </li>
    </ng-template>



            </ul>
        </div>
    </div>
</nav>

<!-- small modal -->
<div class="modal fade" id="smallTelefonoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-small" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Datos de usuario</h3>
                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()" aria-hidden="true"><i
                        class="material-icons">clear</i></button>
            </div>
            <div class="modal-body">
                <label class="modal-title ">Editar nombre de usuario</label>
                <input class="form-control" type="text" [(ngModel)]="nombreUsuario" name="nombreUsuario"
                    placeholder="Nombre usuario" />
                <label class="modal-title">Ingresar numero de contacto</label>
                <input class="form-control" type="number" [(ngModel)]="telefono" placeholder="telefono" />

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" data-dismiss="modal" (click)="guardarUsuario()"
                    style="margin-top: 2vh; color: white;" class="btn  btn-rose btn-round btn-danger">Guardar</button>

            </div>

        </div>
    </div>
</div>
<!--    end small modal -->

<ng-template #guardarTelefonoModal>

    <div class="modal-header">
        <h3 class="modal-title">Datos de usuario</h3>
        <button type="button" class="close" (click)="closeModal()" aria-hidden="true"><i
                class="material-icons">clear</i></button>
    </div>
    <div class="modal-body">
        <label class="modal-title ">Editar nombre de usuario</label>
        <input class="form-control" type="text" [(ngModel)]="nombreUsuario" name="nombreUsuario"
            placeholder="Nombre usuario" />
        <label class="modal-title">Ingresar numero de contacto</label>
        <input class="form-control" type="number" [(ngModel)]="telefono" placeholder="telefono" />

    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" (click)="guardarUsuario()" style="margin-top: 2vh; color: white;"
            class="btn  btn-rose btn-round btn-danger">Guardar</button>

    </div>



</ng-template>

<ng-template #tramitandoModal>
    <div class="modal-header">
        <br>
    </div>
    <div class="modal-body text-center">
        <div class=" center-loader">
            <strong>{{mensajeTramitando}}
                <span class="loader__dot">.</span>
                <span class="loader__dot">.</span>
                <span class="loader__dot">.</span></strong>
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <br>
    </div>
</ng-template>
<ng-template #detallePedidoModal>

    <div class="modal-header">
        <h3 class="modal-title">Pedido</h3>
        <button type="button" class="close" (click)="closeModal()" aria-hidden="true"><i
                class="material-icons">clear</i></button>
    </div>
    <div class="modal-body">
        <label class="modal-title ">Empresa pedido: {{pedido.empresa.razonSocial}}</label><br>
        <label class="modal-title">Estado Pedido: {{pedido.estadoPedido}}</label><br>
        <label class="modal-title">Valor Productos: {{pedido.valorTotalPedido}}</label><br>
        <label class="modal-title">Valor valor Domicilio: {{pedido.valorGanancia}}</label><br>
        <label class="modal-title">Valor valor total: {{pedido.valorGanancia+pedido.valorTotalPedido}}</label><br>
        <h5 class="modal-title">Detalle de pedido:</h5>
    </div>

    <div class="modal-footer justify-content-center">

        <table class="table table-reponsive">
            <thead>
                <tr>

                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Valor unitario</th>
                    <th class="text-right">Total</th>

                </tr>
            </thead>
            <tbody *ngFor="let detalleServicio of detalleServicios">
                <tr>

                    <td>{{detalleServicio.producto.nombreProducto}}</td>
                    <td>{{detalleServicio.cantidad}}</td>
                    <td>{{detalleServicio.valorUnitario}}</td>
                    <td class="text-right">{{detalleServicio.valorTotal}}</td>

                </tr>
            </tbody>
        </table>
    </div>

    <!--label>Empresa pedido: {{pedido.empresa.razonSocial}}</label>
    <br>
    <label>Estado Pedido: {{pedido.estadoPedido}}</label>
    <br>
    <label>Valor Productos: {{pedido.valorTotalPedido}}</label>
    <br>
    <label>Valor valor Domicilio: {{pedido.valorGanancia}}</label>
    <br>
    <label>Valor valor total: {{pedido.valorGanancia+pedido.valorTotalPedido}}</label>
    <br>
    <br>
    <label>Detalle de pedido</label>

    <br>
    <table class="table">
        <thead>
            <tr>

                <th>Producto</th>
                <th>Cantidad</th>
                <th>Valor unitario</th>
                <th class="text-right">Total</th>

            </tr>
        </thead>
        <tbody *ngFor="let detalleServicio of detalleServicios">
            <tr>

                <td>{{detalleServicio.producto.nombreProducto}}</td>
                <td>{{detalleServicio.cantidad}}</td>
                <td>{{detalleServicio.valorUnitario}}</td>
                <td class="text-right">{{detalleServicio.valorTotal}}</td>

            </tr>
        </tbody>
    </table-->
</ng-template>