<div *ngIf="show" class="card card-pricing col-lg-3 btn-flotante col-md-3 float-right" style="margin-top: 0px; margin-bottom: 58px; padding: 0px; width: 237px;">
    <div class="row card-category card-category-social" style="text-align: left; border-top-left-radius: 10px;border-top-right-radius: 10px; margin: 0px; background-color: rgba(230, 230, 230, 0.918);">

        <h5 style="margin-left: 10px; width: 190px ;">
            <i class="material-icons">list</i> Tu Pedido
        </h5>
        <button (click)="showF()" style="margin-bottom: 20px;" type="button" class="close">
            <i class="material-icons">minimize</i>
          </button>
    </div>

    <div class="card-body " style="width: 233px; height: 213px; overflow-y: scroll;">
        <div style="border: 1px solid rgba(153, 153, 153, 0.3);" *ngFor="let productoCarrito of productosCarrito">
            <div class="row" style="margin-bottom: 5px;">
                <div class="profile-photo-small" style="margin-top: 5px; margin-left: 15px;">

                    <!-- <img [src]="producto.retrievedImage" height="80px" width="50px" alt="Circle Image" class=" img-fluid">-->



                </div>
                <div Style="text-align: left;">
                    <div style="line-height: 0.0em; ">
                        <h6 class="card-category text-success" style="line-height: 0em; margin-left: 4px; margin-bottom: 0px;">{{productoCarrito.nombreProducto}}
                        </h6>
                        <small style="font-size: small; margin-left: 4px;"> Cantidad: </small>
                        <span> {{productoCarrito.cantidad}} </span>

                        <div class="btn-group">
                            <button class="btn btn-round btn-info btn-sm"> <i
                                    class="material-icons">remove</i>
                            </button>
                            <button class="btn btn-round btn-info btn-sm"> <i class="material-icons">add</i>
                            </button>
                        </div>
                        <br>
                        <small style="border-bottom: none; padding: 4px; font-size: small;">Precio:
                        </small>
                        <small>&#x20AC;</small>{{(productoCarrito.valorProducto*productoCarrito.cantidad)}}
                    </div>
                </div>
            </div>

        </div>


    </div>
    <div class="container tetx-center" style="border-top: 7px;">
        <form>
            <label for="total">Total: </label>
            <span id="total"><small> &#x20AC;</small>{{totalPedido}}</span>
            <br>
            <label for="total">Servicio: </label>
            <span id="total"><small> &#x20AC;</small>{{valorServicio}}</span>
        </form>

    </div>
    <div>
        <a class="btn btn-rose btn-round" (click)="confirmarPedido()">
              Confirmar
          </a>
    </div>

</div>

<button (click)="showF()" class="btn btn-rose btn-flotante"><i class="material-icons">shopping_cart</i> Carrito</button>
<div class="ecommerce-page sidebar-collapse">
    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../assets/img/examples/domicilio.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <div class="brand">
                        <h1 class="title">Busca lo que necesites</h1>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row col-md-8 ml-auto mr-0 text-center" style="border-radius: 10px; background-color: rgba(0, 0, 0, 0.308);">

                    <div class="select" style=" border-bottom: none;">
                        <select class="selectpicker" [(ngModel)]="tipoDireccionSeleccionada" name="tipoDireccionSeleccionada" (change)="capturarTipoDireccion()" style="color: black; z-index: -100;" data-style="select-with-transition" title="Tipo Direccion" data-size="4">
                            
                            <option   *ngFor="let tipoDireccion of tipoDirecciones"  >{{tipoDireccion}}</option>
                            
                        </select>
                    </div>
                    <div class="col-md-2 col-4 btn btn-link btn-just-icon">
                        <input type="number" class="input-transparent" placeholder="0" [(ngModel)]="n1">

                    </div>
                    <div class="col-md-2 col-4 btn btn-link btn-just-icon">
                        <span>#
                            <input type="number" class="input-transparent" placeholder="0" [(ngModel)]="n2" >
                        </span>
                    </div>
                    <div class="col-md-2 col-4 btn btn-link btn-just-icon">
                        <span>-
                            <input type="number" class="input-transparent" placeholder="0" [(ngModel)]="n3">
                        </span>
                    </div>
                </div>
                <div class="col-md-2 col-4 btn btn-danger btn-raised btn-lg" (click)="agregarBarrio(agregarBarrioModal)">
                    <a style="color: white;">
                        <i class="material-icons">search</i> Confirmar</a>
                </div>

            </div>



            <!--div class="social-line social-line-big-icons social-line-white">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-2 col-4">
                          <a href="#pablo" class="btn btn-link btn-just-icon btn-twitter">
                            <i class="fa fa-twitter"></i>
                          </a>
                        </div>
                        <div class="col-md-2 col-4">
                          <a href="#pablo" class="btn btn-link btn-just-icon btn-facebook">
                            <i class="fa fa-facebook-square"></i>
                          </a>
                        </div>
                        <div class="col-md-2 col-4">
                          <a href="#pablo" class="btn btn-link btn-just-icon btn-google">
                            <i class="fa fa-google-plus"></i>
                          </a>
                        </div>
                        <div class="col-md-2 col-4">
                          <a href="#pablo" class="btn btn-link btn-just-icon btn-dribbble">
                            <i class="fa fa-dribbble"></i>
                          </a>
                        </div>
                        <div class="col-md-2 col-4">
                          <a href="#pablo" class="btn btn-link btn-just-icon btn-youtube">
                            <i class="fa fa-youtube-play"></i>
                          </a>
                        </div>
                        <div class="col-md-2 col-4">
                          <a href="#pablo" class="btn btn-link btn-just-icon btn-instagram">
                            <i class="fa fa-instagram"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div-->



        </div>

    </div>
    <div class="main main-raised">
        <div class="section">
            <div class="container">
                <h2 class="section-title">Últimas ofertas</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-product card-body card-plain">
                            <div class="card-header card-header-image">
                                <a>
                                    <img src="../assets/imageLogo/IsotipoCromaticoVectorial120x120.png" alt="">
                                </a>
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    <a>Promoción 1</a>
                                </h4>
                                <p class="card-description">Una pequeña descripción de la promoción.</p>
                            </div>
                            <div class="card-footer">
                                <div class="price-container">
                                    <span class="price price-old"> $1,430</span>
                                    <span class="price price-new"> $743</span>
                                </div>
                                <div class="stats ml-auto">
                                    <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-link btn-rose" data-original-title="Saved to Wishlist">
                                        <i class="material-icons">favorite</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-product card-body card-plain">
                            <div class="card-header card-header-image">
                                <a>
                                    <img src="../assets/imageLogo/IsotipoCromaticoVectorial120x120.png" alt="">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Promoción 2</h4>
                                <p class="card-description">Una pequeña descripción de la promoción.</p>
                            </div>
                            <div class="card-footer">
                                <div class="price-container">
                                    <span class="price price-old"> $1,430</span>
                                    <span class="price price-new">$743</span>
                                </div>
                                <div class="stats ml-auto">
                                    <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-link btn-rose" data-original-title="Saved to Wishlist">
                                        <i class="material-icons">favorite</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-body card-product card-plain">
                            <div class="card-header  card-header-image">
                                <a>
                                    <img src="../assets/imageLogo/IsotipoCromaticoVectorial120x120.png" alt="">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Promoción 3</h4>
                                <p class="card-description">Una pequeña descripción de la promoción.</p>
                            </div>
                            <div class="card-footer">
                                <div class="price-container">
                                    <span class="price price-old"> $1,430</span>
                                    <span class="price price-new">$743</span>
                                </div>
                                <div class="stats ml-auto">
                                    <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-link btn-rose" data-original-title="Saved to Wishlist">
                                        <i class="material-icons">favorite</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section -->
        <div class="section">
            <div class="container">
                <h2 class="section-title">Encuentra lo que necesitas</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-refine card-plain card-rose">
                            <div class="card-body">
                                <h4 class="card-title">
                                    Actulizar
                                    <button class="btn btn-default btn-fab btn-fab-mini btn-link pull-right" rel="tooltip" title="" data-original-title="Reset Filter">
                                        <i class="material-icons">cached</i>
                                    </button>
                                </h4>
                                <div id="accordion" role="tablist">
                                    <div class="card card-collapse">
                                        <div class="card-header" role="tab" id="headingOne">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Rango de precios
                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="card-body card-refine">
                                                <span id="price-left" class="price-left pull-left" data-currency="$">$5000</span>
                                                <span id="price-right" class="price-right pull-right" data-currency="$">$200000</span>
                                                <div class="clearfix"></div>
                                                <div id="sliderRefine" class="slider slider-rose noUi-target noUi-ltr noUi-horizontal">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--   <div class="card card-collapse">
                                        <div class="card-header" role="tab" id="headingTwo">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                   Categorias
                                                     <i class="material-icons">keyboard_arrow_down</i>
                                                 </a>
                                            </h5>
                                        </div>
                                       <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="card-body">
                                                <div class="form-check">
                                                    <label class="form-check-label" *ngFor="let categoria of categorias">
                                                                <input class="form-check-input" type="checkbox" value="" >
                                                                             {{categoria.nombreCategoria}}
                                                                     <span class="form-check-sign">
                                                                         <span class="check"></span>
                                                                     </span>
                                                                     <br>
                                                                     <br>

                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="card card-collapse">
                                        <div class="card-header" role="tab" id="headingThree">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Categorias
                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <div class="form-check" *ngFor="let categoria of categorias">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        {{categoria.nombreCategoria}}
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                        <br><br>
                                                    </label>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let producto of productos">
                                <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                                    <div class="card-header card-header-image" style="min-height: 215px;">
                                        <div *ngIf="producto.retrievedImage; else elseBlock">
                                            <img [src]="producto.retrievedImage" style="height: 100%;">
                                        </div>
                                        <ng-template #elseBlock>
                                            <td>
                                                <img src="assets/imageLogo/IsotipoPositivoVectorial120x120.png">
                                            </td>
                                        </ng-template>
                                    </div>
                                    <div class="card-body">
                                        <a>
                                            <h4 class="card-title">{{producto.nombreProducto}}</h4>
                                        </a>
                                        <p class="description">
                                            {{producto.descripcion}}
                                        </p>

                                        <div class="card-footer justify-content-between">
                                            <div class="price-container">
                                                <span class="price"> $ {{producto.valorProducto}} </span>
                                            </div>
                                            <h5>
                                                <button type="button" (click)="ordenarProducto(producto,confirmarModal)" class="btn btn-outline-light float-right" style="margin-left: 10px;">Ordenar</button></h5>

                                        </div>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <h2 class="section-title">Tendencias</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-background" style="background-image: url(../assets/img/examples/tendencia1.jpg)">
                            <div class="card-body">
                                <h6 class="card-category text-info">Tendencia 1</h6>
                                <a>
                                    <h3 class="card-title">Nombre del Producto</h3>
                                </a>
                                <p class="card-description">
                                    descripción del Producto, Las mejores tendencias comida 2020 segun los usuairos
                                </p>
                                <a class="btn btn-white btn-round">
                                    <i class="material-icons">subject</i> Ver
                                </a>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card card-background" style="background-image: url(../assets/img/examples/tendencia2.jpg)">
                            <div class="card-body">
                                <h6 class="card-category text-info">Tendencia 1</h6>
                                <a>
                                    <h3 class="card-title">Nombre del Producto</h3>
                                </a>
                                <p class="card-description">
                                    descripción del Producto, Las mejores tendencias comida 2020 segun los usuairos
                                </p>
                                <a class="btn btn-white btn-round">
                                    <i class="material-icons">subject</i> Ver
                                </a>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card card-background" style="background-image: url(../assets/img/examples/tendencia3.jpg)">
                            <div class="card-body">
                                <h6 class="card-category text-info">Tendencia 1</h6>
                                <a>
                                    <h3 class="card-title">Nombre del Producto</h3>
                                </a>
                                <p class="card-description">
                                    descripción del Producto, Las mejores tendencias comida 2020 segun los usuairos
                                </p>
                                <a class="btn btn-white btn-round">
                                    <i class="material-icons">subject</i> Ver
                                </a>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                </div>
            </div>
        </div>
        <!-- section -->
    </div>
    <!-- end-main-raised -->
    <div class="section section-blog">
        <div class="container">
            <h2 class="section-title">Últimos Productos</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-header card-header-image">
                            <a>
                                <img src="../assets/img/examples/producto1.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-rose">producto 1</h6>
                            <h4 class="card-title">
                                <a>nombre del producto</a>
                            </h4>
                            <p class="card-description">
                                descripción del producto
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-header card-header-image">
                            <a>
                                <img src="../assets/img/examples/producto2.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-rose">producto 2</h6>
                            <h4 class="card-title">
                                <a>nombre del producto</a>
                            </h4>
                            <p class="card-description">
                                descripción del producto
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-header card-header-image">
                            <a>
                                <img src="../assets/img/examples/producto3.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-rose">producto 3</h6>
                            <h4 class="card-title">
                                <a>nombre del producto</a>
                            </h4>
                            <p class="card-description">
                                descripción del producto
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section -->
    <div class="subscribe-line subscribe-line-image" data-parallax="true" style="background-image: url(&apos;../assets/img/examples/ecommerce-header.jpg&apos;);">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="text-center">
                        <h3 class="title">Suscríbete a nuestro boletín</h3>
                        <p class="description">
                            ¡Únase a nuestro boletín y reciba noticias en su bandeja de entrada todas las semanas! También odiamos el spam, así que no te preocupes por esto.
                        </p>
                    </div>
                    <div class="card card-raised card-form-horizontal">
                        <div class="card-body">
                            <form method="" action="">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">mail</i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="tu correo electrónico...">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-rose btn-block">suscribir</button>
                                    </div>
                                </div>
                            </form>
                            <ng-template #confirmarModal>
                                <div class="card-body">
                                    <form>
                                        <div class="form-group">
                                            <h3>Confirmacion </h3>
                                            <h4>cantidad de {{producto.nombreProducto}} que deseas </h4>
                                            <input type="number" class="form-control" [(ngModel)]="producto.cantidad" name="cantidad" placeholder="ingresar cantidad" value="1">
                                        </div>
                                        <button (click)="confirmarAgregar()" class="btn btn-danger">Confirmar</button>
                                    </form>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #confirmarModal>
    <div class="card-body">
        <form>
            <div class="form-group">
                <h3>Confirmacion </h3>
                <h4>cantidad de {{producto.nombreProducto}} que deseas </h4>
                <input type="number" class="form-control" [(ngModel)]="producto.cantidad" name="cantidad" placeholder="ingresar cantidad" value="1">
            </div>
            <button (click)="confirmarAgregar()" class="btn btn-danger">Confirmar</button>
        </form>
    </div>
</ng-template>


<ng-template #agregarBarrioModal>
    <div class="card-body">
        <form>
            <div class="form-group">
                <h3>Selecciona barrio: </h3>
                <div class="center-loader" *ngIf="loader">
                    <strong>Cargando barrios
                      <span class="loader__dot">.</span>
                      <span class="loader__dot">.</span>
                      <span class="loader__dot">.</span></strong>
                </div>
                <select *ngIf="!loader" class="form-control" [(ngModel)]="barrioSeleccionado" name="barrioSeleccionado" (change)="capturar()">
                <option value="0">Selecciona un barrio</option>
                <option *ngFor="let barrio of barrios" style="margin-block: 10px">
                    {{barrio.nombreBarrio}}
                </option>
            </select>
                <h4>Direccion </h4>
                <input type="text" class="form-control" [(ngModel)]="direccionCompleta" name="direccion" placeholder="direccionCompleta" disabled>
            </div>
            <button (click)="confirmarDireccion()" class="btn btn-danger">Aceptar</button>
        </form>


    </div>
</ng-template>