.btn-back{
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	border-radius: 10px; /* Borde del boton */
	position: fixed;
	padding: 10px;
	top:130px;
	right: 20px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	background-color:rgba(255, 255, 255, 0.5);
	z-index: 100;
}
@media only screen and (max-width: 600px) {
	.btn-back {
	   font-size: 16px;
	   padding: 10px 10px;
	   top: 124px;
	   right: 10px;
   }
}
.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	border-radius: 10px; /* Borde del boton */
	position: fixed;
	bottom:0px;
	right: 0px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 100;
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
}
.center-loader {
    font-size: large;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@keyframes blink {
    50% {
        color: transparent
    }
}

.loader__dot {
    animation: 1s blink infinite;
    font-size: x-large;
}

.loader__dot:nth-child(2) {
    animation-delay: 250ms;
    font-size: x-large;
}

.loader__dot:nth-child(3) {
    animation-delay: 500ms;
    font-size: x-large;
}
#form {
	width: 250px;
	margin: 0 auto;
	height: 50px;
  }
  
  #form p {
	text-align: center;
  }
  
  #form label {
	font-size: 20px;
  }
  
  input[type="radio"] {
	display: none;
  }
  
  .startorange {
	color: orange;
	font-size: large;
	margin: 0px;
  }
  
  .starcalificacion{
	color: gray;
	font-size: x-large;
	margin: 0px;
  }

  .clasificacion {
	direction: rtl;
	unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
	color: orange;
  }
  
  input[type="radio"]:checked ~ label {
	color: orange;
  }
  
  .estrella {
	display: block;
	position: relative;		
  }

  .abierto{
	  display: block;
  position: absolute;
  bottom: -22px;
  left: -6px;
  padding: 5px;
  width: 100%;
  }

  .start {
	display: block;
	margin: auto;
	width: 100%;
  }

  .caja{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	background: transparent;
  }
  .box{
	width: 65x;
	height: 110px;
	background: transparent;
	overflow: hidden;
	margin-bottom: 5px;
  }
  
  .box img{
	width: 100%;
	height: 100%;
  }
  @supports(object-fit: cover){
	  .box img{
		object-position: center center;
	  }
  }