<div class="ecommerce-page sidebar-collapse">
    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../assets/img/examples/clark-street-merc.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <div class="brand">
                        <h1 class="title">Busca lo que necesites</h1>
                        <h4>Entrega oportuna para tus pedidos . <b></b> Registrate para mas solicitar servicio</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="section">
            <div class="container">
                <h2 class="section-title">Últimas ofertas</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-header card-header-image">
                                <a>
                                    <img src="../assets/img/examples/gucci.jpg" alt="">
                                </a>
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    <a href="#pablo">Gucci</a>
                                </h4>
                                <p class="card-description">Los hombros estructurados y los elegantes detalles aseguran una silueta nítida. Combínalo con un pañuelo de bolsillo de seda y mocasines de cuero.</p>
                            </div>
                            <div class="card-footer">
                                <div class="price-container">
                                    <span class="price price-old"> €1,430</span>
                                    <span class="price price-new"> €743</span>
                                </div>
                                <div class="stats ml-auto">
                                    <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-link btn-rose" data-original-title="Saved to Wishlist">
                  <i class="material-icons">favorito</i>
                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-header card-header-image">
                                <a href="#pablo">
                                    <img src="../assets/img/examples/dolce.jpg" alt="">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Dolce &amp; Gabbana</h4>
                                <p class="card-description">Los hombros estructurados y los elegantes detalles aseguran una silueta nítida. Combínalo con un pañuelo de bolsillo de seda y mocasines de cuero.</p>
                            </div>
                            <div class="card-footer">
                                <div class="price-container">
                                    <span class="price price-old"> €1,430</span>
                                    <span class="price price-new">€743</span>
                                </div>
                                <div class="stats ml-auto">
                                    <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-link btn-rose" data-original-title="Saved to Wishlist">
                  <i class="material-icons">favorito</i>
                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-header card-header-image">
                                <a href="#pablo">
                                    <img src="../assets/img/examples/tom-ford.jpg" alt="">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Dolce &amp; Gabbana</h4>
                                <p class="card-description">Los hombros estructurados y los elegantes detalles aseguran una silueta nítida. Combínalo con un pañuelo de bolsillo de seda y mocasines de cuero.</p>
                            </div>
                            <div class="card-footer">
                                <div class="price-container">
                                    <span class="price price-old"> €1,430</span>
                                    <span class="price price-new">€743</span>
                                </div>
                                <div class="stats ml-auto">
                                    <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-link btn-rose" data-original-title="Saved to Wishlist">
                  <i class="material-icons">favorito</i>
                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section -->
        <div class="section">
            <div class="container">
                <h2 class="section-title">Encuentra lo que necesitas</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-refine card-plain card-rose">
                            <div class="card-body">
                                <h4 class="card-title">
                                    Refinar
                                    <button class="btn btn-default btn-fab btn-fab-mini btn-link pull-right" rel="tooltip" title="" data-original-title="Reset Filter">
                  <i class="material-icons">cached</i>
                </button>
                                </h4>
                                <div id="accordion" role="tablist">
                                    <div class="card card-collapse">
                                        <div class="card-header" role="tab" id="headingOne">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Rango de precios
                        <i class="material-icons">keyboard_arrow_down</i>
                      </a>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="card-body card-refine">
                                                <span id="price-left" class="price-left pull-left" data-currency="€">€42</span>
                                                <span id="price-right" class="price-right pull-right" data-currency="€">€880</span>
                                                <div class="clearfix"></div>
                                                <div id="sliderRefine" class="slider slider-rose noUi-target noUi-ltr noUi-horizontal"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--   <div class="card card-collapse">
                                        <div class="card-header" role="tab" id="headingTwo">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                   Categorias
                                                     <i class="material-icons">keyboard_arrow_down</i>
                                                 </a>
                                            </h5>
                                        </div>
                                       <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="card-body">
                                                <div class="form-check">
                                                    <label class="form-check-label" *ngFor="let categoria of categorias">
                                                                <input class="form-check-input" type="checkbox" value="" >
                                                                             {{categoria.nombreCategoria}}
                                                                     <span class="form-check-sign">
                                                                         <span class="check"></span>
                                                                     </span>
                                                                     <br>
                                                                     <br>

                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="card card-collapse">
                                        <div class="card-header" role="tab" id="headingThree">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Categorias
                        <i class="material-icons">keyboard_arrow_down</i>
                      </a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <div class="form-check">
                                                    <label class="form-check-label" *ngFor="let categoria of categorias">
                          <input class="form-check-input" type="checkbox" value="" >
                          {{categoria.nombreCategoria}}
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                          <br><br>
                        </label>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let producto of productos">
                                <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                                    <div class="card-header card-header-image">
                                        <a *ngIf="producto.retrievedImage; else elseBlock">
                                            <img [src]="producto.retrievedImage">
                                        </a>
                                        <ng-template #elseBlock>
                                            <td>
                                                <img src="assets/imageLogo/IsotipoPositivoVectorial120x120.png">
                                            </td>
                                        </ng-template>
                                    </div>
                                    <div class="card-body">
                                        <a href="#">
                                            <h4 class="card-title">{{producto.nombreProducto}}</h4>
                                        </a>
                                        <p class="description">
                                            {{producto.descripcion}}
                                        </p>
                                    </div>
                                    <div class="card-footer justify-content-between">
                                        <div class="price-container">
                                            <span class="price"> $ {{producto.valorProducto}} </span>
                                        </div>
                                        <h5>
                                            <button type="button" (click)="ordenarProducto(producto,confirmarModal)" class="btn btn-outline-light float-right" style="margin-left: 10px;">Ordenar</button></h5>

                                    </div>
                                </div>
                                <!-- end card -->
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <h2 class="section-title">Noticias de moda</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-background" style="background-image: url(../assets/img/examples/color1.jpg)">
                            <div class="card-body">
                                <h6 class="card-category text-info">Aplicaciones productivas</h6>
                                <a href="#pablo">
                                    <h3 class="card-title">Las mejores tendencias en moda 2020</h3>
                                </a>
                                <p class="card-description">
                                    No tengas miedo de la verdad porque necesitamos reiniciar la base humana en verdad Y te amo como Kanye ama a Kanye Me encanta el diseño de la cama de Rick Owens, pero la parte posterior es ...
                                </p>
                                <a href="#pablo" class="btn btn-white btn-round">
                                    <i class="material-icons">subject</i> Leer
                                </a>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card card-background" style="background-image: url(../assets/img/examples/color3.jpg)">
                            <div class="card-body">
                                <h6 class="card-category text-info">Noticias de moda</h6>
                                <h3 class="card-title">Kanye se une al equipo Yeezy en Adidas</h3>
                                <p class="card-description">
                                    No tengas miedo de la verdad porque necesitamos reiniciar la base humana en verdad Y te amo como Kanye ama a Kanye Me encanta el diseño de la cama de Rick Owens, pero la parte posterior es ..
                                </p>
                                <a href="#pablo" class="btn btn-white btn-round">
                                    <i class="material-icons">subject</i> Leer
                                </a>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card card-background" style="background-image: url(../assets/img/examples/color2.jpg)">
                            <div class="card-body">
                                <h6 class="card-category text-info">Aplicaciones productivas</h6>
                                <a href="#pablo">
                                    <h3 class="card-title">Aprende a usar los nuevos colores de 2017</h3>
                                </a>
                                <p class="card-description">
                                    No tengas miedo de la verdad porque necesitamos reiniciar la base humana en verdad Y te amo como Kanye ama a Kanye Me encanta el diseño de la cama de Rick Owens, pero la parte posterior es ...
                                </p>
                                <a href="#pablo" class="btn btn-white btn-round">
                                    <i class="material-icons">subject</i> Leer
                                </a>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <div class="col-md-6">
                        <div class="card card-background" style="background-image: url(../assets/img/dg3.jpg)">
                            <div class="card-body">
                                <h6 class="card-category text-info">Tutoriales</h6>
                                <a>
                                    <h3 class="card-title">colores de tendencia del 2020</h3>
                                </a>
                                <p class="card-description">
                                    No tengas miedo de la verdad porque necesitamos reiniciar la base humana en verdad Y te amo como Kanye ama a Kanye Me encanta el diseño de la cama de Rick Owens pero la parte posterior es ...
                                </p>
                                <a class="btn btn-white btn-round">
                                    <i class="material-icons">subject</i> Leer
                                </a>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <div class="col-md-6">
                        <div class="card card-background" style="background-image: url(../assets/img/dg1.jpg)">
                            <div class="card-body">
                                <h6 class="card-category text-info">Estilo productivo</h6>
                                <a>
                                    <h3 class="card-title">moda &amp; estilo 2017</h3>
                                </a>
                                <p class="card-description">
                                    No tengas miedo de la verdad porque necesitamos reiniciar la base humana en verdad Y te amo como Kanye ama a Kanye Me encanta el diseño de la cama de Rick Owens pero la parte posterior es ...
                                </p>
                                <a class="btn btn-white btn-round">
                                    <i class="material-icons">subject</i> Leer
                                </a>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                </div>
            </div>
        </div>
        <!-- section -->
    </div>
    <!-- end-main-raised -->
    <div class="section section-blog">
        <div class="container">
            <h2 class="section-title">Últimos artículos</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-header card-header-image">
                            <a>
                                <img src="../assets/img/dg6.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-rose">tendencia</h6>
                            <h4 class="card-title">
                                <a>Aprende a usar tu bufanda con una camisa con estampado floral</a>
                            </h4>
                            <p class="card-description">
                                No tengas miedo de la verdad porque necesitamos reiniciar la base humana en verdad Y te amo como Kanye ama a Kanye Me encanta el diseño de la cama de Rick Owens pero la parte posterior es ...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-header card-header-image">
                            <a>
                                <img src="../assets/img/dg10.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-rose">semana de moda</h6>
                            <h4 class="card-title">
                                <a>Katy Perry lleva un vestido de arco Dolce &amp; Gabanna</a>
                            </h4>
                            <p class="card-description">
                                No tengas miedo de la verdad porque necesitamos reiniciar la base humana en verdad Y te amo como Kanye ama a Kanye Me encanta el diseño de la cama de Rick Owens pero la parte posterior es ...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-header card-header-image">
                            <a>
                                <img src="../assets/img/dg9.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-rose">semana de moda</h6>
                            <h4 class="card-title">
                                <a>Consulta los últimos eventos de moda y cuáles son las tendencias.</a>
                            </h4>
                            <p class="card-description">
                                No tengas miedo de la verdad porque necesitamos reiniciar la base humana en verdad Y te amo como Kanye ama a Kanye Me encanta el diseño de la cama de Rick Owens pero la parte posterior es ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section -->
    <div class="subscribe-line subscribe-line-image" data-parallax="true" style="background-image: url(&apos;../assets/img/examples/ecommerce-header.jpg&apos;);">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="text-center">
                        <h3 class="title">Suscríbete a nuestro boletín</h3>
                        <p class="description">
                            ¡Únase a nuestro boletín y reciba noticias en su bandeja de entrada todas las semanas! También odiamos el spam, así que no te preocupes por esto.
                        </p>
                    </div>
                    <div class="card card-raised card-form-horizontal">
                        <div class="card-body">
                            <form method="" action="">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                        <i class="material-icons">mail</i>
                      </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="tu correo electrónico...">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-rose btn-block">suscribir</button>
                                    </div>
                                </div>
                            </form>
                            <ng-template #confirmarModal>
                                <div class="card-body">
                                    <form>
                                        <div class="form-group">
                                            <h3>Confirmacion </h3>
                                            <h4>cantidad de {{producto.nombreProducto}} que deseas </h4>
                                            <input type="number" class="form-control" [(ngModel)]="producto.cantidad" name="cantidad" placeholder="ingresar cantidad" value="1">
                                        </div>
                                        <button (click)="confirmarAgregar()" class="btn btn-danger">Confirmar</button>
                                    </form>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #confirmarModal>
    <div class="card-body">
        <form>
            <div class="form-group">
                <h3>Confirmacion </h3>
                <h4>cantidad de {{producto.nombreProducto}} que deseas </h4>
                <input type="number" class="form-control" [(ngModel)]="producto.cantidad" name="cantidad" placeholder="ingresar cantidad" value="1">
            </div>
            <button (click)="confirmarAgregar()" class="btn btn-danger">Confirmar</button>
        </form>
    </div>
</ng-template>