<div class="btn-flotante container " style="margin-right: 0px; padding: 2px;">
  <div *ngIf="show" class="col-lg-3 col-md-3 float-right" style=" margin-bottom: 80px; padding: 1px; max-width: 237px; max-height: 267px;">
      <div class="card card-pricing">
          <div class="card-body " style="max-width: 237px; max-height: 217px; overflow-y: scroll;">

              <div style="border: 1px solid rgba(153, 153, 153, 0.3);">
                  <div class="row" style="margin-bottom: 5px;">
                      <div class="profile-photo-small" style="margin-top: 5px; margin-left: 15px;">
                          <img src="./assets/img/faces/avatar.jpg" height="80px" width="50px" alt="Circle Image" class=" img-fluid">
                      </div>
                      <div Style="text-align: left;">
                          <div style="line-height: 0.0em; ">
                              <h6 class="card-category text-success" style="line-height: 0em; margin-left: 4px; margin-bottom: 0px;">Acetaminofen
                              </h6>
                              <small style="font-size: small; margin-left: 4px;"> Cantidad: </small>
                              <span> 1 </span>

                              <div class="btn-group">
                                  <button class="btn btn-round btn-info btn-sm"> <i
                                          class="material-icons">remove</i>
                                  </button>
                                  <button class="btn btn-round btn-info btn-sm"> <i class="material-icons">add</i>
                                  </button>
                              </div>
                              <br>
                              <small style="border-bottom: none; padding: 4px; font-size: small;">Precio:
                              </small>
                              <small>&#x20AC;</small>549
                          </div>
                      </div>
                  </div>

              </div>

              <div style="border: 1px solid rgba(153, 153, 153, 0.3);">
                  <div class="row" style="margin-bottom: 5px;">
                      <div class="profile-photo-small" style="margin-top: 5px; margin-left: 15px;">
                          <img src="./assets/img/faces/avatar.jpg" height="80px" width="50px" alt="Circle Image" class=" img-fluid">
                      </div>
                      <div Style="text-align: left;">
                          <div style="line-height: 0.0em; ">
                              <h6 class="card-category text-success" style="line-height: 0em; margin-left: 4px; margin-bottom: 0px;">Acetaminofen
                              </h6>
                              <small style="font-size: small; margin-left: 4px;"> Cantidad: </small>
                              <span> 1 </span>

                              <div class="btn-group">
                                  <button class="btn btn-round btn-info btn-sm"> <i
                                          class="material-icons">remove</i>
                                  </button>
                                  <button class="btn btn-round btn-info btn-sm"> <i class="material-icons">add</i>
                                  </button>
                              </div>
                              <br>
                              <small style="border-bottom: none; padding: 4px; font-size: small;">Precio:
                              </small>
                              <small>&#x20AC;</small>549
                          </div>
                      </div>
                  </div>

              </div>

              <div style="border: 1px solid rgba(153, 153, 153, 0.3);">
                  <div class="row" style="margin-bottom: 5px;">
                      <div class="profile-photo-small" style="margin-top: 5px; margin-left: 15px;">
                          <img src="./assets/img/faces/avatar.jpg" height="80px" width="50px" alt="Circle Image" class=" img-fluid">
                      </div>
                      <div Style="text-align: left;">
                          <div style="line-height: 0.0em; ">
                              <h6 class="card-category text-success" style="line-height: 0em; margin-left: 4px; margin-bottom: 0px;">Acetaminofen
                              </h6>
                              <small style="font-size: small; margin-left: 4px;"> Cantidad: </small>
                              <span> 1 </span>

                              <div class="btn-group">
                                  <button class="btn btn-round btn-info btn-sm"> <i
                                          class="material-icons">remove</i>
                                  </button>
                                  <button class="btn btn-round btn-info btn-sm"> <i class="material-icons">add</i>
                                  </button>
                              </div>
                              <br>
                              <small style="border-bottom: none; padding: 4px; font-size: small;">Precio:
                              </small>
                              <small>&#x20AC;</small>549
                          </div>
                      </div>
                  </div>

              </div>

              <div style="border: 1px solid rgba(153, 153, 153, 0.3);">
                  <div class="row" style="margin-bottom: 5px;">
                      <div class="profile-photo-small" style="margin-top: 5px; margin-left: 15px;">
                          <img src="./assets/img/faces/avatar.jpg" height="80px" width="50px" alt="Circle Image" class=" img-fluid">
                      </div>
                      <div Style="text-align: left;">
                          <div style="line-height: 0.0em; ">
                              <h6 class="card-category text-success" style="line-height: 0em; margin-left: 4px; margin-bottom: 0px;">Acetaminofen
                              </h6>
                              <small style="font-size: small; margin-left: 4px;"> Cantidad: </small>
                              <span> 1 </span>

                              <div class="btn-group">
                                  <button class="btn btn-round btn-info btn-sm"> <i
                                          class="material-icons">remove</i>
                                  </button>
                                  <button class="btn btn-round btn-info btn-sm"> <i class="material-icons">add</i>
                                  </button>
                              </div>
                              <br>
                              <small style="border-bottom: none; padding: 4px; font-size: small;">Precio:
                              </small>
                              <small>&#x20AC;</small>549
                          </div>
                      </div>
                  </div>

              </div>

              <div style="border: 1px solid rgba(153, 153, 153, 0.3);">
                  <div class="row" style="margin-bottom: 5px;">
                      <div class="profile-photo-small" style="margin-top: 5px; margin-left: 15px;">
                          <img src="./assets/img/faces/avatar.jpg" height="80px" width="50px" alt="Circle Image" class=" img-fluid">
                      </div>
                      <div Style="text-align: left;">
                          <div style="line-height: 0.0em; ">
                              <h6 class="card-category text-success" style="line-height: 0em; margin-left: 4px; margin-bottom: 0px;">Acetaminofen
                              </h6>
                              <small style="font-size: small; margin-left: 4px;"> Cantidad: </small>
                              <span> 1 </span>

                              <div class="btn-group">
                                  <button class="btn btn-round btn-info btn-sm"> <i
                                          class="material-icons">remove</i>
                                  </button>
                                  <button class="btn btn-round btn-info btn-sm"> <i class="material-icons">add</i>
                                  </button>
                              </div>
                              <br>
                              <small style="border-bottom: none; padding: 4px; font-size: small;">Precio:
                              </small>
                              <small>&#x20AC;</small>549
                          </div>
                      </div>
                  </div>

              </div>
          </div>
          <div>
              <a href="#pablo" class="btn btn-rose btn-round">
                  Comprar
              </a>
          </div>

      </div>
  </div>
  <button (click)="showF()" class="btn btn-rose btn-flotante">Carrito</button>


</div>