<body class="landing-page sidebar-collapse">

    <div class="page-header header-small" data-parallax="true" style="background-color: #ffffff; height: 120vh;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto" style="color: black;">
                    <form class="form" method="" action="" #f="ngForm" novalidate>
                        <div class="card card-login card-hidden text-center" style="background-color: rgba(236, 236, 236, 0.966)">

                            <div class="card-product card-body card-plain ">

                                <br>

                                <div class="select">
                                    <select class="selectpicker" data-live-search="true" data-style="select-with-transition" title="Ciudad" data-size="4">
                                    <option disabled>Elige una ciudad</option>
                                   <option value="2">Yopal</option>
                                   </select>
                                </div>


                                <div class="center-loader" *ngIf="cargaBarrios;else elseBarrios">
                                    <strong>Cargando barrios
                                  <span class="loader__dot">.</span>
                                  <span class="loader__dot">.</span>
                                  <span class="loader__dot">.</span></strong>
                                </div>

                                <ng-template #elseBarrios>
                                    <!--div>
                                        <input [(ngModel)]="searchText" style="text-align: center; " placeholder="buscar barrios" (keyup)="showSearchResults($event)" class="search-input" name="searchText" />
                                    </div-->
                                    <div>
                                        <select class="selectpicker" data-live-search="true" ng-options="elementos de barrios" data-size="4" data-style="select-with-transition " title="Barrio" name="opcionSeleccionado" [(ngModel)]="barrioSeleccionado" (change)="capturarBarrio()">
                                             <option disabled>Elige un barrio</option>
                                              <option *ngFor="let barrio of barrios|search:searchText" style="margin-block: 10px">
                                                      {{barrio.nombreBarrio}}
                                              </option>
                                             </select>

                                    </div>
                                </ng-template>

                                <div>
                                    <select class="selectpicker" title="Tipo Direccion" data-live-search="true" data-size="4" data-style="select-with-transition" (change)="capturarBarrio()" name="tipoDireccionSeleccionado" [(ngModel)]="tipoDireccionSeleccionado">
                                      <option disabled>Elige un Direccion</option>
                                      <option >Calle</option>
                                      <option *ngFor="let tipoDireccion of tipoDirecciones">
                                      {{tipoDireccion}}
                                  </option>
                              </select>
                                </div>

                                <div class="input-group ">

                                    <input type="number " placeholder="0 " name="n1 " required style="text-align: center; " class="form-control " name="n1 " [(ngModel)]="n1 " required>

                                    <span class="input-group-addon ">
                                  <h5>#</h5>
                              </span>

                                    <input type="number " placeholder="0 " name="n2 " required style="text-align: center; " class="form-control " name="n2 " [(ngModel)]="n2 " required>
                                    <span class="input-group-addon ">
                                  <h5>&#8212;</h5>
                              </span>

                                    <input type="number " placeholder="0 " name="n3 " required class="form-control " style="text-align: center; " name="n3 " [(ngModel)]="n3 " required>


                                </div>
                                <input type="text" placeholder="Numero de telefono" name="telefono" required class="form-control " style="text-align: center;" [(ngModel)]="telefono" required>
                                <br>
                                <button [disabled]="!f.valid " (click)="inicio() " class="btn btn-rose btn-lg " style=" color: white; margin: auto; ">
                              <i class="material-icons ">search</i> Buscar Establecimientos

                          </button>
                                <br>
                            </div>
                            <div class="card-footer ">
                                <br>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

<footer class="footer ">

    <div class="container ">
        <nav class="float-left ">
            <ul>
                <li>
                    <a>
              Boyaca Web
            </a>
                </li>
                <li>
                    <a>
              Sobre nosotros
            </a>
                </li>
                <li>
                    <a href="https://quickdomicilios.com/privacy-policy">
              Politica de privacidad
            </a>
                </li>
                <li>
                    <a>
              Licencias
            </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right ">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, hecho con <i class="material-icons ">favorite</i> por
            <a target="_blank ">BoyacaWeb</a>
        </div>
    </div>
</footer>