<div class="login-page sidebar-collapse">
    <div class="page-header header-filter" style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
                    <form class="form" method="" action="">
                        <div class="card card-login card-hidden">
                            <div class="card-header card-header-primary text-center">
                                <h4 class="card-title">Inicio de Sesion</h4>
                                <!--div class="social-line">
                                    <a class="btn btn-just-icon btn-link btn-white">
                                        <i class="fa fa-facebook-square" (click)="loginFacebook(modalFrameFacebook)"></i>
                                    </a>

                                    <a class="btn btn-just-icon btn-link btn-white">
                                        <i class="fa fa-google-plus" (click)="loginGoogle(modalFrameGoogle)"></i>
                                    </a>
                                </div-->
                                <br>
                            </div>
                            <div class="card-body ">
                                <p class="card-description text-center">Datos de usuario</p>
                                <span class="bmd-form-group">
                        </span>
                                <span class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">email</i>
                                            </span>
                            </div>
                            <input type="email" class="form-control" placeholder="Email..." autofocus="" required="" name="email" [(ngModel)]="signupReq.email">
                        </div>
                        </span>
                        <span class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                </div>
                <input type="password" class="form-control" placeholder="Password..." required="" name="password" [(ngModel)]="signupReq.password">
            </div>
            </span>
        </div>
        <div class="center-loader" *ngIf="loader; else elseBlock">
            <strong>Verificando
                                    <span class="loader__dot">.</span>
                                    <span class="loader__dot">.</span>
                                    <span class="loader__dot">.</span></strong>
        </div>
        <ng-template #elseBlock>
            <div class="card-footer justify-content-center">

                <a class="btn btn-rose btn-link btn-lg" (click)="onLoggedin()">Confirmar</a>

                <a class="btn btn-rose btn-link btn-lg" (click)="onRegister()">Registrar</a>
            </div>
            <div *ngIf="logingIn && isLoginFail" class="alert alert-danger mt-3">Error al loguearse:
                <a style="background-color: limegreen;" href="https://api.whatsapp.com/send?phone=+57 3124872765">Envíanos un mensaje de WhatsApp si no recuerdas contraseña   </a>
                <a href="https://api.whatsapp.com/send?phone=+57 3124872765"><i class="fa fa-whatsapp"></i></a>

            </div>
        </ng-template>
    </div>
    </form>
</div>
</div>
</div>
<app-footer></app-footer>
</div>
</div>


<ng-template #modalFrameGoogle>
    <iframe width="560" height="315" [src]="urlgoogle|pipeSafe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>

<ng-template #modalFrameFacebook>
    <iframe width="560" height="315" [src]="urlfacebook|pipeSafe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>